[submodule "hp48-puzzle-bobble"]
	path = hp48-puzzle-bobble
	url = git@github.com:Oichkatzelesfrettschen/hp48-puzzle-bobble.git
[submodule "puzzle-bobble-clone-libgdx"]
	path = puzzle-bobble-clone-libgdx
	url = git@github.com:Oichkatzelesfrettschen/Puzzle-Bobble-Clone.git
[submodule "bubble-blast-saga"]
	path = bubble-blast-saga
	url = git@github.com:Oichkatzelesfrettschen/Bubble-Blast-Saga.git
[submodule "zorx"]
	path = zorx
	url = git@github.com:Oichkatzelesfrettschen/zorx.git
[submodule "frozen-bubble"]
	path = frozen-bubble
	url = git@github.com:Oichkatzelesfrettschen/frozen-bubble.git
[submodule "colorblindness"]
	path = colorblindness
	url = git@github.com:Oichkatzelesfrettschen/Colorblindness.git
[submodule "refs/puzzle-bobble-c"]
	path = refs/puzzle-bobble-c
	url = https://github.com/Oichkatzelesfrettschen/Puzzle-Bobble-C.git
[submodule "refs/puzzle-bobble-sdl"]
	path = refs/puzzle-bobble-sdl
	url = https://github.com/Oichkatzelesfrettschen/Puzzle-Bobble.git
[submodule "refs/km-bubble-shooter"]
	path = refs/km-bubble-shooter
	url = https://github.com/Oichkatzelesfrettschen/KM-Bubble-Shooter.git
[submodule "refs/graph-bubble-shooter"]
	path = refs/graph-bubble-shooter
	url = https://github.com/Oichkatzelesfrettschen/Graph-in-Bubble-Shooter.git
[submodule "refs/bustamove-np"]
	path = refs/bustamove-np
	url = https://github.com/Oichkatzelesfrettschen/bustamove.git
[submodule "refs/jtbubl-fpga"]
	path = refs/jtbubl-fpga
	url = https://github.com/Oichkatzelesfrettschen/jtbubl.git
[submodule "refs/puzzle-bobble-cpp"]
	path = refs/puzzle-bobble-cpp
	url = https://github.com/Oichkatzelesfrettschen/Puzzle-Bobble-1.git
[submodule "refs/puzzle-bobble-js"]
	path = refs/puzzle-bobble-js
	url = https://github.com/Oichkatzelesfrettschen/puzzle-bobble-2.git
